---
import RootLayout from '../../layouts/RootLayout.astro';
import StyledLink from '../../components/StyledLink.astro';
import {AutoLottoPOC} from '../../components/AutoLottoPOC/AutoLottoPOC';

import '../../styles/global.css';
---

<RootLayout title="Quantum Queries - AutoLotto (PoC)"
  ><main class="p-[8px] pt-[5rem]">
    <p class="m-[24px] ml-0 mr-0">
      AutoLotto is a proof of concept (PoC) for a lottery system that uses the
      QQueries QRNG service (QRNG) to select winners. The goal of this PoC is to
      demonstrate the feasibility and effectiveness of using QRNG in a lottery
      system.
    </p>
    <p class="m-[24px] ml-0 mr-0">
      The PoC consists of a smart contract that implements the lottery logic and
      uses QRNG to select winners. The smart contract is deployed on the <StyledLink
        href="https://opengpu.network/">OpenGPU network</StyledLink
      >, an EVM-compatible layer 1 blockchain designed to be a low-cost,
      high-performance platform for decentralized applications with a focus on
      AI and other GPU intensive workloads.
    </p>
    <AutoLottoPOC client:only="react" />
  </main>
</RootLayout>
