@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-serif: var(--font-poppins);

  --color-lilac-50: #fcf6fd;
  --color-lilac-100: #f9ecfb;
  --color-lilac-200: #f2d8f6;
  --color-lilac-300: #eabbee;
  --color-lilac-400: #dd90e2;
  --color-lilac-500: #cb64d1;
  --color-lilac-600: #b045b4;
  --color-lilac-700: #933695;
  --color-lilac-800: #792e7a;
  --color-lilac-900: #652a64;
  --color-lilac-950: #411141;
}

@custom-variant hocus (&:hover, &:focus);
