---
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/global.css';
---

<BaseLayout class="layout__about-page" pageTitle="About Quantum Queries"
  ><p>
    Quantum Queries (QQueries) provides non-deterministic information derived
    using quantum mechanics to deterministic systems such as blockchain smart
    contracts and decentralized applications (dApps). The goal of QQueries is to
    provide a reliable source of non-deterministic information that can be used
    to enhance the functionality and security of smart contracts and dApps.
  </p>
  <p>
    QRNG will be the flagship product of Quantum Queries. It is a service that
    provides random numbers generated from quantum phenomena. The service is
    designed to be used by developers of smart contracts and other decentralized
    applications (dApps) that require true randomness.
  </p>
  <p>
    QRNG will be available on the <a href="https://opengpu.network/"
      >OpenGPU network</a
    >, an EVM-compatible layer 1 blockchain designed to be a low-cost,
    high-performance platform for decentralized applications with a focus on AI
    and other GPU intensive workloads.
  </p>
  <p>
    QRNG token presale will be held on <a href="https://opensale.finance/"
      >OpenSale</a
    >. More details coming soon!
  </p>
</BaseLayout>
