---
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/global.css';

const pageTitle = 'Quantum Queries';
---

<BaseLayout class="layout__home-page" pageTitle={pageTitle}>
  <main class="home-page__main"></main>
</BaseLayout>
