---

---

<div class="handle pr-[20px] cursor-pointer md:hidden">
  <span class="handle__line block w-[40px] h-[5px] mb-[10px] bg-lilac-300"
  ></span>
  <span class="handle__line block w-[40px] h-[5px] mb-[10px] bg-lilac-300"
  ></span>
  <span class="handle__line block w-[40px] h-[5px] mb-[10px] bg-lilac-300"
  ></span>
</div>
