---
import Handle from './Handle.astro';
import Navigation from './Navigation.astro';
---

<header class="fixed z-10 w-full m-[8px] mb-0 pr-[16px]">
  <nav>
    <Handle />
    <Navigation />
  </nav>
  <hr />
</header>
