---
import clsx from 'clsx/lite';
import {Image} from 'astro:assets';

type Props = {
  linkStyle?: string;
};

const {linkStyle: className} = Astro.props;
---

<a class={clsx(className)} href="/">
  <Image
    src="/images/qq-logo-no-text.png"
    alt="Quantum Queries logo"
    width="42"
    height="42"
  />
</a>
