.wallet-connector-modal__dialog {
  position: relative;
  max-width: 20rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
}

.wallet-connector-modal__dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.wallet-connector-modal__close-button {
  position: absolute;
  font-size: 0.75rem;
  top: 0.25rem;
  right: 0.25rem;
}

button {
  padding: 0.5em;
  font: inherit;
  line-height: 1;
}

button {
  cursor: pointer;
}
